.content {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.message {
	margin: 1%;
	border: 1px solid #c1c1c1;
}

.ng-enter {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
}
.ng-enter-active {
    opacity: 1;
}
.ng-leave {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity:1;
}
.ng-leave.ng-leave-active {
    opacity:0;
}