<div class="content" ng-controller="mainCtrl">
	<div class="on-content-render" ng-repeat="message in messages" ng-cloak>
		<div class="message">
			<p ng-if="!checkIfImage(message)">Message #{{$index+1}}: {{message.data}}</p>
			<img ng-if="checkIfImage(message)" ng-src="data:image/png;base64, {{message.data}}"/>
		</div>
	</div>

	<div ng-show="!messages.length" class="message">
		<p>No messages available</p>
	</div>
</div>